<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food
    </ion-title>
    <ion-button slot="end" color="light" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food</ion-title>
    </ion-toolbar>
  </ion-header>


  <br>
  <br>

  <br> Add Food:
  <br>  <ion-button color=“light” routerLink="/tabs/add-food" routerDirection="forward"> Add </ion-button>


</ion-content>
