<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>





<!-- the wallpaper img is not working in the ion-content -->
<ion-content class="bg_img" src="assets/img/01.jpg">




  <ion-card>
    <img src="assets/img/consum.jpg" />
    <ion-card-header>
      <ion-card-title>Consumption</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      1,012 to reach your daily cap calories. 45% out of 100%
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="assets/img/rec_food.jpg" />
    <ion-card-header>
      <ion-card-title>Recommended Food</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      here is list of Recommended Food for you
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="assets/img/exercise.jpg" />
    <ion-card-header>
      <ion-card-title>Recommended Exercise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      here is list of Recommended Exercise ONLY for you
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="assets/img/sum.png" />
    <ion-card-header>
      <ion-card-title>Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      here is list of Brief summary for your food and exercises
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="assets/img/near_me.jpg" />
    <ion-card-header>
      <ion-card-title>Restaurant near you</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      google maps show stores near you
    </ion-card-content>
  </ion-card>



</ion-content>
