<ion-tabs>

  <ion-tab-bar slot="bottom" class="bg-image no-scroll">

    <ion-tab-button tab="food">
      <ion-icon color="light" name="nutrition"></ion-icon>
      <ion-label color="dark">Food</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon color="light" name="home"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise">
      <ion-icon color="light" name="bicycle"></ion-icon>
      <ion-label color="dark" >Exercise</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
