 ion-tabs {
   --background: url('../../assets/img/04.jpg') no-repeat center center fixed cover;
   --background-size: cover;
 }

 ion-tab-bar {
   --background: url('../../assets/img/04.jpg') no-repeat center center fixed cover;
   --background-size: cover;
 }
