<ion-header>
  <ion-toolbar>
    <ion-title>Food Info</ion-title>
    <ion-button slot="end" color="light" (click)="logout()">Logout</ion-button>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/add-food"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
             offset-xl="4">
      <ion-item>
        <ion-label>
          Name: {{food.Name}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Brand: {{food.BrandName}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Serving: {{food.ServingQuantity}} {{food.Units}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Calories: {{food.Calories}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Sodium: {{food.Sodium}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Total Fat: {{food.TotalFat}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Saturated Fat: {{food.SaturatedFat}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Cholesterol: {{food.Cholesterol}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Carbohydrates: {{food.Carbohydrates}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Sugar: {{food.Sugar}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Fiber: {{food.Fiber}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Protein: {{food.Protein}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="dark" (click)="saveFood()">Add Food</ion-button>
</ion-footer>
