<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-datetime [(ngModel)]="date" (ionChange)="changedDate()"></ion-datetime>
    <ion-button slot="end" color="light" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food</ion-title>
    </ion-toolbar>
  </ion-header>

  <p *ngIf="!foods || foods.length === 0">
    You have not recorded any foods
  </p>

  <ion-list *ngIf="foods && foods.length > 0">
    <ion-header>Food Eaten</ion-header>
    <ion-item *ngFor="let food of foods">
      <ion-label>{{ food.Name }}</ion-label>
      <ion-button class="clearround" slot="end" (click)="getInfo(food)">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="clearround" slot="end" (click)="remove(food)">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" color="light" (click)="addFood()">
    Add Food
  </ion-button>
</ion-footer>
