<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form #form="ngForm" (ngSubmit)="forgotPasswordRequest(form)">
        <ion-item lines="none">
          <ion-text class="ion-margin">
            Enter the email to your account to send a request to reset the password.
          </ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" placeholder="Email" name="email" ngModel required></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" [disabled]="form.invalid" expand="block">
          Send Password Reset Request</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" color="secondary" routerLink="/" routerDirection="forward">Back to Login</ion-button>
</ion-footer>