<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <form #form="ngForm" (ngSubmit)="submitPassword(form)">
        <ion-item lines="none">
          <ion-text class="ion-margin">
            Enter the verification code we sent to {{email}} as well as a new password.
            If you do not see the email, check your spam folder.
          </ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Code</ion-label>
          <ion-input type="text" placeholder="Enter Verification Code Here" name="code" ngModel required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password" placeholder="Enter New Password Here" name="password" ngModel required></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" [disabled]="form.invalid" expand="block">Reset Password
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" color="secondary" routerLink="/" routerDirection="forward">Back to Login</ion-button>
</ion-footer>