<ion-header>
  <ion-toolbar>
    <ion-datetime [(ngModel)]="date" (ionChange)="changedDate()"></ion-datetime>
    <ion-button slot="end" color="light" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!exercises || exercises.length === 0">
    You have not recorded any activities for this day
  </p>

  <ion-list *ngIf="exercises && exercises.length > 0">
    <ion-header>Food Eaten</ion-header>
    <ion-item *ngFor="let exercise of exercises">
      <ion-label>{{ exercise.Name }}</ion-label>
      <ion-label>{{ exercise.Calories }}</ion-label>
      <ion-button class="clearround" slot="end" (click)="removeExercise(exercise)">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" color="light" (click)="addExercise()">
    Add Activity
  </ion-button>
</ion-footer>
