.clearround {
  --border-radius: 100%;
  --vertical-align: middle;
  --background-activated: transparent;
  --background-focused: #3880ff;
  --background-hover: #3880ff;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0.12;
  --background-hover-opacity: 0.04;
  --background: transparent;
  --color: #3880ff;
  --box-shadow: none;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.fab{
  width: 40px !important;
  height: 40px !important;
}

.card-center{
  margin-top: 50%;
}

.tran{
  --background: transparent;
  --ion-color-base: transparent !important;
}
