.allergyTip {
  margin: 1px 2px 2px;
  font-size: 10pt;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.tran{
  --background: transparent;
  --ion-color-base: transparent !important;
}

.card-center{
  margin-top: 50%;
}

.fab{
  width: 40px !important;
  height: 40px !important;}

.ion-text-center{
  align-content: center;}
